<ion-view view-title="Attractions">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="attraction in attractions" type="item-text-wrap" href="#/tab/attractions/{{attraction.id}}">
        <img ng-src="{{attraction.face}}">
        <h2>{{attraction.name}}</h2>
        <p>{{attraction.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(attrs)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
