<ion-view title="Activity Maps" ng-init="init()">
    <ion-header-bar class="bar bar-subheader">
        <button class="button icon ion-android-restaurant" ng-click="markit()">Food</button>
        <button class="button icon ion-android-walk">Fun</button>
        <button class="button icon ion-ios-paw">Animals</button>
        <button class="button icon ion-ios-star">Sites</button>
          <button class="button icon ion-aperture">Art</button>
          <button class="button icon ion-android-pin">Clear</button>
        </ion-header-bar>
  <ion-content has-header="true has-subheader="true">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
                                                                                                                </ion-content>
</ion-view>